* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}
.container {
    width: 100%;
    height: fit-content;
    background: #ffffff;
}
.header {
    width: 1100px;
    height: fit-content;
    padding: 26px 0;
    margin: auto;
    background: rgb(242, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.menu1 ul {
    display: flex;
    flex-direction: column;
}
.menu1 {
    position: absolute;
    display: none;
}
.header_left {
    display: flex;
}
.header_left img {
    width: 119px;
    height: 38.91px;
}
.header_left ul {
    display: flex;
    list-style: none;
}
.header_left ul:nth-child(1) li:nth-child(1) {
    position: relative;
}
.header_left li {
    height: 100%;
    width: fit-content;
    background: rgb(242, 241, 241);
    display: flex;
    position: relative;
}
.menu {
    position: absolute;
    top: 40px;
    left: 10px;
    background: #fff;
    padding: 20px 20px 20px 30px;
    grid-template-columns: repeat(3, max-content);
    z-index: 1000;
    gap: 40px;
    display: grid;
    width: fit-content;
    transition: all 0.3s;
    transform: translateY(-10px);
    opacity: 0;

}
.header_left ul li a:nth-child(1):hover .menu1 {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;
}
.menu1:hover {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;
}
.header_left ul li a:nth-child(2):hover .menu2 {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;
}
.header_left ul li a:nth-child(3):hover .menu3 {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;
}
.header_left ul li a:nth-child(4):hover .menu4 {
    opacity: 1;
    pointer-events: auto;
    z-index: 1001;
}

.header_left ul li a:hover + .menu {
    opacity: 1;
    transition: all 0.3s;
    transform: translateY(0);
}
.menu::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: red;
    top: -10px;
    left: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.menu_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu_column p {
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}
.menu_column p:hover {
    margin-left: 4px;
    transition: all 0.3s;
}
/* .part3:has(#input:checked) + div {
    
} */
.part3_left_top:has(#radio1:checked) ~ .page1 {
    display: flex;
    transition: all 1s;
}
.part3_left_top:has(#radio2:checked) ~ .page2 {
    display: flex;
    transition: all 1s;
}
.part3_left_top:has(#radio3:checked) ~ .page3 {
    display: flex;
    transition: all 1s;
}
.part3_left_top:has(#radio4:checked) ~ .page4 {
    display: flex;
    transition: all 1s;
}
.part3_left_top:has(#radio5:checked) ~ .page5 {
    display: flex;
    transition: all 1s;
}
.part3_left_top:has(#radio6:checked) ~ .page6 {
    display: flex;
    transition: all 1s;
}
.menu_column p:hover + .menu_column p::after {
    left: -8px;
}
.menu_column p::after {
    cursor: pointer;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: red;
    left: -12px;
    top: 4px;
    border-radius: 50%;
}
.menu_column div {
    width: 8px;
    height: 8px;
    background-color: red;
}
.inner_menu {
    width: 100%;
}
.part3_left_top_mobile {
    display: none;
}
.part3_page1_mobile {
    display: none;
}
.header_left li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(242, 241, 241);
    padding: 5px 7px 0 15px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.header_right div div {
    position: absolute;
    width: 1px;
    height: 18px;
    right: 5px;
    background: #000000;
    box-shadow: 1 1 1 2px black;
}
.header_right ul {
    display: flex;
    gap: 15px;
}
.header_right_hidden {
    display: none;
}
.header_right ul li {
    display: flex;
    flex-direction: column;

    gap: 10px;
    font-size: 16px;
    margin: -10px 10px 0;
}
.header_right ul li div {
    display: flex;
    position: relative;
}
.header_right a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}
.header_right .text {
    font-weight: 400;
    font-size: 14px;
}
.fa-sun {
    width: 20px;
    height: 20px;
    color: rgb(174, 174, 54);
}
.fa-calendar-day {
    width: 20px;
    height: 20px;
    color: rgb(68, 68, 249);
}
.fa-dollar-sign {
    width: 20px;
    height: 20px;
}
/* part1 */
.part1 {
    width: 1110px;
    height: fit-content;
    margin: auto;
    padding: 5px 0;
}
.container1 {
    background: rgb(242, 241, 241);
}
.part1_img {
    width: 100%;
    height: 75px;
    position: relative;
    margin-bottom: 10px;
}
.part1_img div {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}
.part1_img img {
    width: 100%;
    border-radius: 5px;
}
.part1_img div img {
    position: relative;
    width: 100%;
    height: 470px;
    transition: all 2s;
}
.part1_img:hover div {
    height: 595px;
    transition: all 1s;
}
.part1_middle {
    width: 100%;
    height: 385px;
    display: flex;
    flex-grow: 1;
    gap: 15px;
    background: linear-gradient(90deg, #efeeee, #fff, #fff, #ffffff);
}
.part1_text {
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(-120deg, #e08100, #c90027);
    transition: all 0.3s;
}
.part1_text:hover {
    padding: 8px 20px;
    transition: all 0.3s;
}
.part1_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 0 0 40px;
    justify-content: center;
}
.part1_p {
    color: #929191;
    margin-bottom: 10px;
}
.part4_imgs_left_text-hidden{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000049;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: #fff;
    gap: 30px;
    font-size: 20px;
    display: none;
}
.part4_imgs_left_text-hidden1{

    font-size: 14px;
}
.part4_imgs_left_text-hidden h2{
    padding: 4px;
    background-color: #00b0f4;
    width: fit-content;
    border-radius: 5px  ;
}
.part4_imgs_left_text-hidden span{
    border-top: solid 1px #000;
    width: 100%;
    height: fit-content;
    padding: 15px 0;
}
.part4_imgs_left_text-hidden span{
    display: flex;
    gap: 10px;
    transition: all 0.3s;
}
.part4_imgs_left_text-hidden:hover span{
    gap: 20px;
    transition: all 0.3s;
}
.part1_buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.part1_buttons p {
    color: #767676;
}
.part1_b_first {
    background: #f0e0e0;
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.part1_b_first i {
    font-size: 16px;
    transition: all 0.3s;
}
.part1_b_first:hover {
    padding: 8px 15px;
    transition: all 0.3s;
}
.part1_b_first:hover i {
    transform: rotate(45deg);
    font-size: 20px;
    transition: all 0.3s;
}
.part1_buttom {
    height: 303px;
    width: 100%;
    margin-top: 30px;
    padding: 0 0 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.part1_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.part1_card_img img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
    object-fit: cover;
}
.part1_card_img {
    height: 100%;
    border-radius: 5px;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
}
.part1_card_img:hover img {
    height: 110%;
    width: 110%;
    transition: all 0.3s;
}
.part1_card_img_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000001d;
    font-size: large;
    color: #ffffff;
    opacity: 0;
}
.part1_card_img_hover p {
    color: #ffffff;
}
.part1_card_img:hover .part1_card_img_hover {
    opacity: 1;
}
.part1_card .part1_card_button {
    color: #a7a6a6;
}
.part1_right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.part1_middle img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    transition: all 0.3s;
    z-index: 0;
    object-fit: cover;
}
.part1_right:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
.part1_right:hover .part1_right_hover {
    opacity: 1;
}
.part1_right_hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000003e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
}
.part1_right_hover p {
    font-size: 18px;
    font-weight: 700;
}
.part1_img {
    z-index: 2;
}
.part2_header p {
    display: inline;
}
.part2 {
    width: 100%;
    height: 320.5px;
    padding-top: 40px;
}
.inner_part2 {
    margin: auto;
    width: 1100px;
    height: fit-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.part2_header p {
    font-size: 24px;
}
.part2_header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.blue_text {
    background: #00b0f4;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
}
.card {
    width: 100%;
    height: 235px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}
.card img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: all 0.2s;
    object-fit: cover;
}
.inner_card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 7px;
    color: #fff;
    background: linear-gradient(#ffffff00, #00000074);
}
.inner_card h2 {
    background: #00b0f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.inner_card p {
    font-size: 15px;
}
.inner_card_buttom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inner_card_buttom p i {
    font-size: 13px;
}
.hide_text {
    width: 100%;
    height: 40px;
    transition: all 0.2s;
    overflow: hidden;
}
.card:hover .hide_text {
    height: 70px;
    transition: all 0.2s;
}
.card:hover img {
    width: 110%;
    transition: all 0.2s;
    height: 110%;
}
.part2_slider {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: space-between;
}
.part3 {
    width: 1100px;
    margin: 40px auto auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.part3_left {
    display: flex;
    width: 100%;
    padding: 0 10px 0 0;
    height: fit-content;
    border-right: solid 0.2px #000000;
}
.part3_left_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: fit-content;
    transition: all 1s;
}
.part3_right {
    height: fit-content;
    width: 500px;
}
.part3 .blue {
    background: #b7b6b6;
    border-radius: 5px;
    width: 100%;
    height: 10px;
}
.part3 div p {
    transform: translateY(0);
    transition: all 0.3s;
}
.part3_icon_top {
    background: #efefef;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part3_left_top .day {
    color: #b7b6b6;
}
.part3_left_top div {
    transform: translateY(0);
    transition: all 0.3s;
    text-align: center;
}
.part3_left_top div:hover {
    color: #00b0f4;
}
.part3_left_top div:hover .blue {
    background: #00b0f4;
}
.other_day:hover .blue {
    transform: translateY(-5px);
    transition: all 0.3s;
}
.other_day:hover p {
    transform: translateY(-5px);
    transition: all 0.3s;
}
.part3_icon_top:hover {
    background: #00b0f4;
}
.part3_icon_top:hover i {
    color: #fff;
}
.day {
    position: relative;
}
.day input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
}
.other_day input {
    top: -10px;
    height: 40px;
}
.part1_middle{
    position: relative;
}
.part3_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.part3_page1 {
    margin-top: 60px;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 50px;
    height: fit-content;
    display: none;
    flex-direction: column;
    gap: 20px;
}
.part3_page1 img {
    width: 100%;
    height: 245px;
}
.part3_page1_class img {
    width: 210px;
    height: 150px;
}
.part3_page1_class {
    height: 171px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.part3_page_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.part3_page_details h2 {
    font-size: 15px;
}
.part3_page1_details_icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.part3_right_card_img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: red;
}
.part3_right_card_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
}
.part3_right_card_img div {
    width: 100%;
    height: 100%;
    background-color: #00000037;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
.part3_right_card_img:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
.part3_right_card_img:hover div {
    opacity: 1;
    transition: all 0.3s;
}
.part3_right_top {
    width: 100%;
    padding-left: 40px;
    height: fit-content;
}
.part3_right_card {
    width: 100%;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part3_right_card h2 {
    font-size: 17px;
    font-weight: 300;
}
.part3_right_top_header p {
    font-size: 25px;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.part3_right_card_icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.part3_right_main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.part3_right_bottom {
    width: 100%;
    height: fit-content;
    padding: 40px 40px 60px;
    background: #ccc;
    margin-top: 30px;
}
.part3_right_bottom_card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 112px;
    padding-bottom: 20px;
    border-bottom: solid 0.3px #000;
    margin-top: 20px;
    transform: scale(1);
    transition: all 0.3s;
}
.part3_right_bottom_card:hover {
    transform: scale(1.04);
    transition: all 0.3s;
}
.part3_right_bottom_card_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part3_right_bottom_card_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.part3_right_bottom_card h2 {
    color: red;
    font-size: 50px;
}
.part3_right_bottom_header {
    display: flex;
    gap: 10px;
}
.part3_left_button {
    width: 100%;
    height: 65.37px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.part3_left_button p {
    display: flex;
    gap: 10px;
    align-items: center;
}
.part4 {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}
.inner_part4 {
    width: 1100px;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inner_part4_header {
    font-size: 20px;
}
.part4_imgs {
    height: 500px;
    width: 100%;
    display: flex;
    gap: 5px;
}
.part4_imgs_left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.part4_hover .part4_imgs_left_text {
    width: 100%;
    height: 100%;
    background: #00000055;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    transition: all 0.3s;
}
.part1_inputs{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    z-index: 100;
    background-color: #0000002e;
    display: flex;
    justify-content: space-around;
}
.part1_input1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part1_input1 input{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.part4_hover:hover div {
    opacity: 1;
    transition: all 0.3s;
}
.part4_imgs_left img {
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}
.part4_imgs_left:hover img {
    transform: scale(1.1);
    transition: all 0.2s;
}
.part4_imgs_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.part4_imgs img {
    object-fit: cover;
    width: 100%;
}
.part4_imgs_right_top {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.part4_imgs_right_top_left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.part4_imgs_right_top_left img {
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}
.part4_imgs_right_top_left:hover img {
    transform: scale(1.1);
    transition: all 0.2s;
}
.part4_imgs_right_top_right {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.part4_imgs_right_top_right img {
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}
.part4_imgs_right_top_right:hover img {
    transform: scale(1.1);
    transition: all 0.2s;
}
.part4_imgs_right_bottom {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.part4_imgs_right_bottom_left {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s;
}
.part4_imgs_right_bottom_left img {
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}
.part4_imgs_right_bottom_left:hover img {
    transform: scale(1.1);
    transition: all 0.2s;
}
.part4_imgs_right_bottom_right {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.part4_imgs_right_bottom_right img {
    position: absolute;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}
.part4_imgs_right_bottom_right:hover img {
    transform: scale(1.1);
    transition: all 0.2s;
}
.part5 {
    width: 100%;
    height: fit-content;
    margin-top: 60px;
}
.inner_part5 {
    width: 1100px;
    margin: auto;
    height: fit-content;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
}
.inner_part5 h2 {
    font-size: 30px;
}
.inner_part5 h2 span {
    background-color: #00b0f4;
    border-radius: 5px;
    padding: 0 4px;
}
.part5_cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
}
.part5_cards_left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.part3_img {
    width: 320px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.part3_img_header {
    width: 100%;
    height: 100%;
    background: #0000005a;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
.part3_img:hover .part3_img_header {
    opacity: 1;
    transition: all 0.3s;
}
.part1_inputs{
    display: none;
}
.part3_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
}
.part3_img:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
.part5_card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: solid 0.1px #000;
    border-radius: 5px;
}
.part5_cards3 {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
    flex-grow: 1;
}
.part5_cards3 .part5_card {
    width: 100%;
}
.part5_cards3 .part5_card .part5_text {
    width: calc(100% - 20px);
}
.part5_card .part5_text {
    height: 72px;
    margin: 0 10px;
}
.part5_card_img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.part5_card_img div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000058;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s;
    opacity: 0;
}
.part5_card_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    object-fit: cover;
}
.part5_card_img:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
.part5_card_img:hover div {
    opacity: 1;
    transition: all 0.3s;
}
.part5_card_icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: calc(100% - 20px);
    margin: 10px;
    height: 30px;
    padding: 10px;
    border-top: solid 0.1px #000;
}
.part5_card_header2 {
    display: flex;
    gap: 20px;
}
.part6 {
    width: 100%;
    height: fit-content;
    margin-top: 60px;
    background-color: #000;
}
.inner_part6 {
    width: 1100px;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #fff;
    padding: 50px 0 70px;
}
.part6_header {
    display: flex;
    gap: 10px;
}
.part6_header i {
    color: red;
}
.part1_right{
    display: none;
}
.part6_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 10px;
}
.part6_card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.part6_card_img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}
.part1_right1{
    display: flex;
}
.part6_card_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
}
.part6_card_img div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000064;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}
.part6_card_img:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
.part6_card_img:hover div {
    opacity: 1;
    transition: all 0.3s;
}
.part6_icons {
    display: flex;
    gap: 20px;
}
.part7 {
    width: 100%;
    height: fit-content;
}
.inner_part7 {
    width: 1100px;
    height: fit-content;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}
.mobile_container{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.part7_top {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.part7_top img {
    width: 120px;
    height: 39.23px;
}
.part6_cards_grow {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}
.part6_cards {
    flex-grow: 1;
}
.part7_top_menu {
    width: calc(100%);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    justify-content: flex-end;
    gap: 20px;
}
.part7_top_menu p {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;
}
.part7_bottom {
    width: 100%;
    height: fit-content;
    border-top: solid 1px #000;
    padding: 30px 0 0;
    display: flex;
    justify-content: space-between;
}
.part7_bottom_right {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
}
.part4_imgs img {
    pointer-events: none;
}
@media screen and (max-width: 1180px) {
    .header {
        width: 100%;
        padding: 26px 40px;
    }
    
    .part1 {
        width: 100%;
        padding: 0 40px;
    }
    .part1_buttom {
        width: 100%;
    }
    .inner_part2 {
        width: 100%;
        padding: 0 40px;
    }
    .part3 {
        width: 100%;
        padding: 0 40px;
    }
    .inner_part4 {
        width: 100%;
        padding: 0 40px;
    }
    .inner_part5 {
        width: 100%;
        padding: 0 40px;
    }
    .inner_part6 {
        width: 100%;
        padding: 50px 40px 70px;
    }
    .inner_part7 {
        width: 100%;
        padding: 50px 40px;
    }
}
@media screen and (max-width: 960px) {
    .part4_imgs_left_text-hidden{
        display: flex;
    }
    .container_input2{
        display: none;
    }
    .container_input1{
        display: none;
    }
    .container_input3{
        display: none;
    }
    .container2:has(#mobile_radio1:checked) ~.container_input1{
        display: flex;
    }
    .container2:has(#mobile_radio2:checked) ~.container_input2{
        display: flex;
    }
    .container2:has(#mobile_radio3:checked) ~.container_input3{
        display: flex;
    }
    .container_input2{
        flex-direction: column;
    }
    .part1_right{
        display: none;
    }
    .part3_right_bottom{
        background: #fff;
    }
    .container_input3 .part3_right_bottom_card{
        height: fit-content;
        background-color: #fff;
    }
    .container_input3 .part2_header{
        margin-top: 30px;
    }
    .container_input3 .part2_slider{
        margin-top: 30px;
    }
    .container_input3 .part3_right_bottom_card_right{
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
    }
    .container_input3 .part3_right_bottom_card_icon{
        justify-content: flex-start;
        gap: 20px;
    }
    .container_input1{
        margin-top: 30px;
        padding: 0 15px;
    }
    .other_day input{
        top: 0;
        z-index: 1000;
    }
    .part3_page1_class_pack{
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
    .container_input2{
        margin-top: 20px;
    }
    .header_right_hidden_input:has(#header_right:checked) ~ .container{
        display: none;
    }
    .container_input1 .part3_page1_class{
        display: flex;
        flex-direction: column;
        height: fit-content;
        border-bottom: none;
        padding: 10px 10px;
    }
    .container_input1 .part3_img{
        width: 100%;
    }
    .container_input1 .part3_page_details .part3_page_details_text{
        display: none;
    }
    .container_input1 .part3_page_details{
        gap: 20px;
    }
    .part1{
        position: relative;
    }
    .part1_inputs{
        display: flex;
    }
    .part1_inputs:has(#mobile_top1:checked) ~ .part1_middle .part1_right1{
        display: flex;
    }
    .part1_inputs:has(#mobile_top1:checked) .part1_input11 {
        background-color: #00b0f4;
    }
    .part1_inputs:has(#mobile_top2:checked) ~ .part1_middle .part1_right2{
        display: flex;
    }
    .part1_inputs:has(#mobile_top2:checked) .part1_input12 {
        background-color: #00b0f4;
    }
    .part1_inputs:has(#mobile_top3:checked) ~ .part1_middle .part1_right3{
        display: flex;
    }
    .part1_inputs:has(#mobile_top3:checked) .part1_input13 {
        background-color: #00b0f4;
    }
    .part1_inputs:has(#mobile_top4:checked) ~ .part1_middle .part1_right4{
        display: flex;
    }
    .part1_inputs:has(#mobile_top4:checked) .part1_input14 {
        background-color: #00b0f4;
    }
    .part3_page1_mobile{
        width: 100%;
        height: fit-content;
    }
    .part4_hover .part4_imgs_left_text {
        display: none;
    }
    .part3_page1_mobile_hidden{
        display: none;
    }
    .header {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        box-sizing: 0 2px 4px 0 #000;
    }
    .header_left ul li {
        display: none;
    }
    .header_right_hidden {
        display: flex;
    }

    .part1_img {
        display: none;
        width: 100%;
    }
    .header_right {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: 100%;
    }
    .header_right_hidden {
        width: 69px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid 0.3px #000;
        position: absolute;
        right: -10px;
        font-size: 30px;
    }
    .header_right_hidden_input{
        width: 65px;
        height: 65px;
        z-index: 100;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_right_hidden_input input{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .header_right{
        width: 100%;
        height: 100%;
    }
    .part1_buttom {
        display: none;
    }
    .part3_right {
        display: none;
    }
    .card3 {
        display: none;
    }
    .header_right ul li {
        border: solid 1px #000;
        border-radius: 5px;
        padding: 5px;

    }
    .header_right ul {
        gap: 0;
    }
    .part1_right {

        width: 100%;
        height: 100%;
    }
    .part1_left {
        display: none;
    }
    .part1_right {
        width: 100%;
    }
    .part1 {
        width: 100%;
        padding: 0;
    }
    .part3 {
        position: relative;
    }
    .part3_left {
        border-right: none;
    }
    .part3_left_top_desktop {
        display: none;
    }
    .part3_left_top_mobile {
        display: flex;
        position: relative;
        bottom: 0;
    }
    .part3_left_top_mobile {
        display: flex;
        justify-content: flex-start;
        background-color: #000;
    }
    .part3_left_top_mobile .day {
        width: 100%;
    }
    .part3_page1 {
        display: none;
    }
    .part3_left_top_mobile .blue {
        display: none;
        width: fit-content;
    }
    .part3_page1_mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .part2 {
        position: relative;
        width: 100%;
    }
    .part3_left_top:has(#radio1:checked) ~ .page1 {
        display: none;
        transition: all 1s;
    }
    .part3_left_top_mobile {
        position: absolute;
        width: 100%;
        bottom: -15px;
    }
    .day {
        padding: 10px 0;
    }
    .day:hover {
        background-color: blue;
    }
    .day_hover {
        font-size: 20px;
        color: #fff;
    }
    .part4_imgs {
        height: 916px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .part5_card4 {
        display: none;
    }
    .part6_cards {
        flex-direction: column;
        gap: 50px;
    }
    .part1_right_hover {
        display: none;
    }
    .part1_right:hover img {
        transform: none;
    }
    .part1_right_text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 50px 30px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;

    }
    .container_input2 .part3_page1_class {
        border-bottom: dotted #000 1px;
    }
    .part1_p {
        display: none;
    }
    .part1_buttons p:last-child {
        display: none;
    }
    .part1_right_text h2 {
        color: #fff;
        font-size: 20px;
    }
}
@media screen and (max-width: 640px) {
    .card2 {
        display: none;
    }
    .container2{
        padding: 0 15px;
    }
    .part3_page_details {
        font-size: 14px;
    }
    .part3_page_details h2 {
        font-size: 14px;
    }
    .part3_page_details_text {
        display: none;
    }
    .part3_page_details {
        justify-content: flex-start;
        gap: 20px;
    }
    .inner_part4 {
        padding: 0 105.6px;
        height: fit-content;
        width: 100%;
    }
    .part4_hover1 {
      height: 250px;
      width: 100%;
  }
    .part4_imgs_left {
        height: 350px;
        width: 100%;
    }
    .part4_imgs_right_top {
        display: flex;
        flex-direction: column;
    }
    .part4_imgs_right_bottom {
        display: flex;
        flex-direction: column;
    }
    .part4_imgs {
      height: fit-content;
  }
  .part5_card_hidden{
    display: none;
  }
  .part6_cards_grow{
    flex-direction: column;
  }
  .part7_top{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .part7_top_menu {
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (max-width:500px){
    .inner_part4{
        padding: 0 15px;
    }
    .container2{
        padding: 0 15px;
    }
}
@media screen and (max-width:475px){
    .header_right ul li{
display: none;
    }
    
}
@media screen and (max-width:408px){
  .part5_card_icons p{
    display: flex;
    flex-direction: row;
  }
  .container2{
    padding: 0 15px;
}
}